@import 'common';

.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffc043 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #ffc043 !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 50px !important;
  border: solid 2px #ffc043;
  box-shadow: none !important;
}

.MuiMenuItem-root {
  font-family: Pretendard !important;
}

.ProductContainer {
  width: 100%;
  p,
  span,
  div,
  button {
    font-family: Pretendard;
  }
  .Display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // 웹
    @media (min-width: 769px) {
      .CampaginProduct {
        width: 100%;
        padding: 10% 10% 0 10%;
        display: flex;
        flex-direction: column;

        .MuiStack-root {
          padding: 80px 0 120px 0;
          display: flex;
          justify-content: center;
          align-items: center;

          .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
            background-color: #333;
            color: white;
          }
        }

        .MapBox {
          width: 100%;
          height: 560px;
          margin-bottom: 64px;
        }

        .TopBox {
          width: 100%;
          display: flex;
          gap: 30px;
          padding: 0 0 65px 0;
          border-bottom: solid 1px #e4e4e4;

          .MuiFormControl-root {
            width: 20%;
            height: 90px;
          }

          .MuiInputBase-root {
            border-radius: 50px;
          }

          .MuiSelect-select {
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding-left: 20%;
          }

          .MuiPaper-root {
            border-radius: 20px !important;
          }

          .SmallCategory {
            width: 80%;
            padding: 0 10% 0 0;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .Category {
              height: 90px;
              display: flex;
              gap: 28px;
              justify-content: center;
              align-items: center;
              width: calc(18% - 5px);
              border-radius: 45px;
              background-color: #f4f4f4;

              img {
                width: 50px;
                height: 50px;
              }

              p {
                font-size: 18px;
                font-weight: 500;
                color: #303030;
              }
            }
          }
        }

        .SectionBox {
          padding: 28px 0 28px 0;
          display: flex;
          gap: 20px;
          justify-content: flex-end;

          .SnsBox {
            display: flex;
            gap: 8px;
            align-items: center;

            div,
            img {
              width: 23px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 11.5px;
              background-color: #b8b8b8;
              font-size: 14px;
              font-weight: bold;
              color: #fff;
            }
          }

          .DetailBox {
            display: flex;
            align-items: center;
            gap: 8px;

            .Section {
              width: 1px;
              height: 10px;
              border: solid 1px #9999a6;
              background-color: #9999a6;
            }
          }
        }

        .CardPage {
          display: flex;
          flex-wrap: wrap;
          gap: 35px;

          .CardBox {
            width: calc(18.8% - 10px);
          }
        }
      }
      .MobileBox {
        display: none;
      }
    }
    // 모바일
    @media (max-width: 768px) {
      .CampaginProduct {
        display: none;
      }
      .MobileBox {
        width: 100%;
        padding: 20% 5% 0 5%;
        display: flex;
        flex-direction: column;

        .MuiStack-root {
          padding: 80px 0 120px 0;
          display: flex;
          justify-content: center;
          align-items: center;

          .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
            background-color: #333;
            color: white;
          }
        }

        .MapBox {
          width: 100%;
          height: 390px;
          margin-bottom: 28px;
        }

        .TopBox {
          width: 100%;
          display: flex;
          gap: 30px;
          padding: 0 0 65px 0;
          border-bottom: solid 1px #e4e4e4;

          .MuiFormControl-root {
            display: none;
          }
          .MuiInputBase-root {
            border-radius: 50px;
          }

          .MuiSelect-select {
            display: none;
          }

          .MuiPaper-root {
            border-radius: 20px !important;
          }

          .SmallCategory {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 13px;

            .Category {
              height: 100px;
              display: flex;
              flex-direction: column;
              gap: 16px;
              justify-content: center;
              align-items: center;
              width: calc(18% - 5px);
              border-radius: 45px;
              background-color: #f4f4f4;

              img {
                width: 35px;
                height: 35px;
              }

              p {
                font-size: 12px;
                font-weight: 500;
                color: #303030;
              }
            }
          }
        }

        .SectionBox {
          padding: 28px 0 28px 0;
          display: flex;
          gap: 20px;
          justify-content: space-between;

          .SnsBox {
            display: flex;
            gap: 8px;
            align-items: center;

            div,
            img {
              width: 23px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 11.5px;
              background-color: #b8b8b8;
              font-size: 14px;
              font-weight: bold;
              color: #fff;
            }
          }

          .DetailBox {
            display: flex;
            align-items: center;
            gap: 8px;

            .Section {
              width: 1px;
              height: 10px;
              border: solid 1px #9999a6;
              background-color: #9999a6;
            }
          }
        }

        .CardPage {
          display: flex;
          flex-direction: column;
          gap: 25px;

          .CardBox {
          }
        }
      }
    }
  }
}
