@import 'common';

.DisplayBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CampDetail {
  width: 100%;
  display: flex;
  gap: 50px;
  padding: 10% 10% 120px 10%;

  p,
  span,
  div {
    font-family: Pretendard;
  }

  // 왼쪽 컨텐츠
  .LeftContent {
    width: 100%;
    height: 100%;

    // 캠페인 정보
    .TextBox {
      display: flex;
      align-items: center;
      padding: 0 0 25px 0;

      .CampText {
        width: 13%;
        height: 34px;
        font-size: 28px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: Pretendard;
      }

      button {
        width: 30px;
        height: 30px;
        background-color: black;
        svg {
          width: 20px;
          height: 20px;
          color: white;
        }
      }
    }

    .HashBox {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-right: 10%;

      .HashInfo {
        width: 120px;
        height: 40px;
        display: flex;
        flex-basis: calc(15% - 10px);
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
        border: solid 1.5px #ddd;
      }
    }

    .Section {
      width: 100%;
      height: 0.1px;
      margin: 32px 0 42px 0;
      border: solid 1px #e4e4e4;
    }
    // 상품정보
    .TitleBox {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .TitleOne {
        display: flex;
        align-items: center;
        .Text {
          font-family: Pretendard;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.81;
          color: #202020;
        }

        svg {
          width: 25px;
          height: 22px;
        }
      }

      .TitleTwo {
        width: 137px;
        height: 40px;
        display: flex;
        margin-left: 12%;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: solid 1.5px #ddd;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .SubText {
      font-size: 14px;
      color: #9999a6;
    }

    .MainImg {
      width: 100%;
      height: 824px;
    }

    .History {
      font-family: Pretendard;
      font-size: 24px;
      font-weight: bold;
      margin: 40px 0 24px 0;
    }

    .HistoryText {
      height: 129px;
      border-radius: 4px;
      font-size: 16px;
      margin-bottom: 80px;
      display: flex;
      align-items: center;
      padding: 0 0 0 5%;
      border: solid 2px #ededed;
      background-color: #f8f8f8;
    }

    .Map {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 24px 0;

      .Schedule {
        font-family: Pretendard;
        font-size: 24px;
        font-weight: bold;
      }
      .Road {
        width: 180px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        border-radius: 20px;
        border: solid 1.5px #ddd;
      }
    }

    .NaverMap {
      height: 264px;
      background-color: #f8f8f8;
    }

    .ScheduleText {
      height: 129px;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.63;
      margin: 16px 0 80px 0;
      display: flex;
      align-items: center;
      padding: 0 0 0 5%;
      border: solid 2px #ededed;
      background-color: #f8f8f8;
    }

    .MissionText {
      font-family: Pretendard;
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 24px 0;
    }

    .MissionItem {
      display: flex;

      .Detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 15px;

        img {
          width: 80px;
          height: 80px;
        }

        p {
          font-family: Pretendard;
          font-size: 14px;
          line-height: 1.86;
        }
      }
    }

    .MissionItems {
      display: flex;
      flex-direction: column;

      .ItemLogo {
        width: 117px;
        height: 40px;
        margin: 80px 0 24px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #f4f4f4;

        img {
          width: 28px;
          height: 28px;
        }

        p {
          font-family: Pretendard;
          font-size: 18px;
          font-weight: bold;
          padding-right: 5%;
        }
      }

      :nth-child(2) {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 500;
      }

      :nth-child(3) {
        opacity: 0.5;
        font-family: Pretendard;
        font-size: 14px;
        line-height: 1.43;
      }
    }

    .InfoTitle {
      width: 114px;
      height: 40px;
      margin: 80px 0 24px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
      background-color: #f4f4f4;
    }

    .InfoText {
      font-family: Pretendard;
      font-size: 16px;
      line-height: 1.63;
    }
  }
  // 오른쪽 컨텐츠
  .RightContent {
    width: 30%;
    position: sticky;
    top: 10%; /* 원하는 위치로 조정 */
    align-self: flex-start; /* 화면 위쪽에 정렬되도록 설정 */

    .First {
      width: 400px;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 0 0 32px;
      border-radius: 20px;
      background-color: #5e4f42;
      font-size: 16px;
      font-weight: 600;
      color: white;
    }

    .Second {
      width: 400px;
      font-size: 16px;
      padding: 16px 0 8px 32px;
      border-bottom: solid 1px #e4e4e4;
      font-weight: 600;
      color: #202020;
    }

    .Third {
      width: 400px;
      font-size: 16px;
      padding: 16px 0 8px 32px;
      border-bottom: solid 1px #e4e4e4;
      font-weight: 600;
      color: #ccc;
    }

    .Media {
      width: 400px;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 0 0 32px;
      margin: 16px 0 12px 0;
      border-radius: 20px;
      background-color: #f4f4f4;

      :nth-child(1) {
        font-size: 16px;
        font-weight: bold;
        font-family: Pretendard;
        color: black;
      }

      :nth-child(2) {
        width: 16px;
        height: 16px;
        padding: 0 0 0 150px;
      }

      :nth-child(3) {
        font-size: 16px;
        font-weight: 300;
        font-family: Pretendard;
        padding: 0 0 0 7px;
        color: #202020;
      }
    }

    .ListBox {
      width: 430px;
      height: 372px;
      border-radius: 20px;
      border: solid 1.5px #e4e4e4;
      margin: 0 0 0 0;

      .List {
        height: 5.2%;
        font-size: 16px;
        font-weight: bold;
        color: #202020;
        padding: 5% 0 5% 10%;

        .Section {
          width: 350px;
          height: 1px;
          background-color: #e4e4e4;
          margin-top: 5%;
        }
      }
    }

    .CampButton {
      width: 430px;
      height: 64px;
      margin-top: 24px;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: bold;
      color: #202020;
      border-radius: 8px;
      background-color: #ffc032;
    }
  }
}
