@import 'common';

.MuiContainer-root {
  padding: 0 !important;
  margin: 0 !important;
}

.MainCarousel {
  div {
    width: 1500px;
    height: 420px;
    background-color: yellow;
    color: black;
    margin: 0 0 0 240px;
  }
}
