@import 'common';

.Category {
  // 셀렉박스 section
  .MainText {
    height: 104px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -1px;
    padding: 0 0 40px 240px;
  }

  .CategoryBox {
    display: flex;
    width: max-content;
    padding: 0 0 0 240px;

    .SmallCategory {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      div {
        width: 55px;
        height: 90px;
        margin: 0 15px 10px 0;
        padding: 10px;
        flex-basis: calc(13% - 10px);
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45px;
        font-weight: bold;
      }

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        padding: 0 5% 0 0;
      }
    }
  }
  // 인기있는 section
  .MiddleCategory {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 190px;
    font-family: Pretendard;

    .MiddleBox {
      .MiddleText {
        font-family: Pretendard;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        margin-bottom: 22px;
      }

      .Text {
        margin-bottom: 32px;
        margin-right: 92px;
        font-family: Pretendard;
        width: 320px;
        height: 43px;
        font-size: 16px;
        line-height: 1.5;
        color: #202020;
      }

      .MoreText {
        margin-bottom: 40px;
        width: 200px;
        height: 20px;
        font-size: 17px;
        font-weight: bold;
        font-family: Pretendard;
        line-height: 1.88;
        display: flex;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
        }
      }
      p {
        margin-left: 240px;
      }
      div {
        margin: 0 0 8px 240px;
        width: 112px;
        height: 32px;
        border-radius: 16px;
        border: solid 1.5px #e4e4e4;
        font-size: 14px;
        font-weight: 600;
        line-height: 2.29;
        text-align: left;
        color: #9999a6;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5px;
      }
    }
    .CardPage {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .CardBox {
        flex-basis: calc(25% - 10px);
      }
    }
  }
  // 겨울 section
  .LastCategory {
    width: 100%;
    display: flex;
    flex-direction: row;

    .LastBox {
      .LastText {
        font-family: Pretendard;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        margin-bottom: 22px;
      }
      .Text {
        margin-bottom: 32px;
        margin-right: 92px;
        font-family: Pretendard;
        width: 320px;
        height: 43px;
        font-size: 16px;
        line-height: 1.5;
        color: #202020;
      }

      .MoreText {
        margin-bottom: 40px;
        font-family: Pretendard;
        width: 200px;
        height: 20px;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.88;
        display: flex;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
        }
      }
      p {
        margin-left: 240px;
      }
      div {
        margin: 0 0 8px 240px;
        width: 112px;
        height: 32px;
        border-radius: 16px;
        border: solid 1.5px #e4e4e4;
        font-size: 14px;
        font-weight: 600;
        line-height: 2.29;
        text-align: left;
        color: #9999a6;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5px;
      }
    }
    .CardPage {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .CardBox {
        flex-basis: calc(25% - 10px);
      }
    }
  }
  // 경계선
  .Section {
    width: 1408px;
    height: 0.3px;
    margin: 80px 62px 80px 256px;
    border: solid 1px #e4e4e4;
  }
  // 하단 리스트
  .BottomCard {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 240px;
    .CardBox {
      flex-basis: calc(18% - 10px);
      margin-right: 20px;
      width: 186px;
    }
  }
  .BottomImg {
    width: 1570px;
    height: 200px;
    margin: 0 0 108px 240px;
    background-color: #303030;
    border-radius: 12px;
  }
}
