@import 'common';

.CertifiNumber {
  .BasicBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p,
    div,
    span,
    button {
      font-family: Pretendard;
    }
    // 웹
    @media (min-width: 769px) {
      .CertifiBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 15% 30% 0 30%;
        padding: 0 0 5% 0;
        border-radius: 16px;
        background-color: #fafafa;

        .Logo {
          margin: 56px 0 32px 0;
          font-size: 40px;
          font-weight: 500;
          line-height: 1.1;
          color: #5e4f42;
        }

        .Info {
          font-size: 40px;
          font-weight: bold;
          line-height: 0.75;
          color: #373948;
        }

        .DetailInfo {
          margin: 32px 0 56px 0;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          color: #202020;
        }

        .NumberBox {
          width: 440px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: solid 1.5px #ededed;
          background-color: white;

          :nth-child(1) {
            font-size: 20px;
            font-weight: 500;
            color: #202020;
          }
          :nth-child(2) {
            font-size: 20px;
            font-weight: bold;
            color: #4876ef;
          }
        }

        .EndText {
          margin-top: 56px;
          font-size: 12px;
          line-height: 1.33;
          color: #303030;
        }
      }
      .MobileBox {
        display: none;
      }
    }
    // 모바일
    @media (max-width: 768px) {
      .CertifiBox {
        display: none;
      }
      .MobileBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 30% 5% 280px 5%;
        padding: 0 0 5% 0;
        border-radius: 16px;
        background-color: #fafafa;

        .Logo {
          width: 73px;
          height: 73px;
        }

        .Info {
          font-size: 25px;
          font-weight: bold;
          line-height: 0.75;
          color: #373948;
        }

        .DetailInfo {
          font-size: 14px;
          font-weight: 300;
          margin: 30px 0 30px 0;
          line-height: 1.5;
          color: #202020;
        }

        .NumberBox {
          width: 80%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: solid 1.5px #ededed;
          background-color: white;

          :nth-child(1) {
            font-size: 16px;
            font-weight: 500;
            color: #202020;
          }
          :nth-child(2) {
            font-size: 16px;
            font-weight: bold;
            color: #4876ef;
          }
        }

        .EndText {
          margin-top: 56px;
          font-size: 12px;
          line-height: 1.33;
          color: #303030;
        }
      }
    }
  }
}
