@import 'common';

.NoticeContainer {
  width: max-content;

  .NoticeBox {
    width: 1920px;
    height: 100%;
    padding: 15% 0 0 240px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;

    .MainText {
      font-family: Pretendard;
      font-size: 56px;
      font-weight: bold;
      line-height: 0.63;
      color: #202020;
    }

    .SearchBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0 40px 0;

      p {
        font-family: Pretendard;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.75;
        color: #7d7d7d;
      }

      .MuiInputBase-root {
        width: 440px;
        height: 56px;
        border-radius: 28px;
        border: solid 2px #e4e4e4;
      }
    }

    .MuiToolbar-root {
      .MuiTablePagination-selectLabel {
        display: none;
      }
      .MuiInputBase-root {
        display: none;
      }
    }
  }
}
