@import 'common';

.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: row;

  p,
  span,
  div {
    font-family: Pretendard;
  }
  // 웹
  @media (min-width: 769px) {
    .TopInfo {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10% 0 10%;
      border: solid 1px #e4e4e4;
      background-color: #fff;

      .TopLeft {
        display: flex;
        align-items: center;

        p {
          font-family: Pretendard;
          font-size: 13px;
          font-weight: bold;
          text-align: left;
          color: #303030;
        }

        div {
          width: 0.5px;
          height: 8px;
          margin: 3px 15px 4px 16px;
          border: solid 1px #e4e4e4;
        }
      }

      .LastText {
        font-family: Pretendard;
        font-size: 12px;
        color: #303030;
      }
    }
    .BottomInfo {
      height: 164px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10% 0 10%;
      border: solid 1px #e4e4e4;
      background-color: #fff;

      .Logo {
        :nth-child(1) {
          font-size: 40px;
          font-weight: 500;
          color: #5e4f42;
          margin-bottom: 10px;
        }
        :nth-child(2) {
          font-family: Pretendard;
          font-size: 12px;
          font-weight: 300;
          line-height: 1.5;
          text-align: left;
          color: #303030;
        }
      }

      .Number {
        :nth-child(1) {
          font-family: Pretendard;
          font-size: 13px;
          font-weight: bold;
          text-align: right;
          color: #303030;
        }
        :nth-child(2) {
          font-family: Pretendard;
          font-size: 32px;
          font-weight: bold;
          text-align: right;
          color: #303030;
        }
        :nth-child(3) {
          font-family: Pretendard;
          font-size: 12px;
          font-weight: 300;
          text-align: right;
          color: #303030;
        }
      }
    }
    .MobileBox,
    .MobileFooter {
      display: none;
    }
  }
  // 모바일
  @media (max-width: 768px) {
    .TopInfo,
    .BottomInfo {
      display: none;
    }

    .MobileFooter {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;

      .MuiButtonBase-root {
        display: flex;
        gap: 5px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        svg {
          width: 22px;
          height: 22px;
        }

        span {
          font-family: Pretendard;
          font-size: 10px;
          font-weight: 500;
        }
      }
    }

    .MobileBox {
      .TopInfo {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5% 0 5%;
        border: solid 1px #e4e4e4;

        p {
          font-size: 12px;
          font-weight: bold;
          color: #303030;
        }

        div {
          width: 1px;
          height: 8px;
          border: solid 1px #e4e4e4;
          background-color: #e4e4e4;
        }
      }
      .BottomInfoBox {
        padding: 20px 5% 20px 5%;
        img {
          width: 160px;
          height: 40px;
        }

        .TextOne {
          font-size: 12px;
          font-weight: 300;
          color: #303030;
          line-height: 1.5;
        }
        .TextTwo {
          font-size: 12px;
          color: #303030;
          margin-top: 10px;
        }
        .TextThree {
          font-size: 13px;
          font-weight: bold;
          color: #303030;
        }
        .TextFour {
          font-size: 32px;
          font-weight: bold;
          color: #303030;
        }
        .TextFive {
          font-size: 12px;
          font-weight: 300;
          color: #303030;
        }
        .Section {
          width: 100%;
          height: 2px;
          background-color: #333;
          margin: 15px 0 15px 0;
        }
      }
    }
  }
}
