@import 'common';

.Header {
  background-color: white !important;
  box-shadow: none !important;

  .MuiContainer-root {
    width: 100%;
  }
  // 웹
  @media (min-width: 769px) {
    .GridContainer {
      width: 100%;
      display: flex;
      padding: 0 7% 0 10%;
      justify-content: space-between;
      align-items: center;

      .LeftBox {
        width: 100%;
        display: flex;
        align-items: center;

        .Logo {
          margin-right: -30px;
        }

        .IconMenu {
          padding: 0 1% 0 2%;
          svg {
            width: 36px;
            height: 36px;
          }
        }

        .Menu {
          display: flex;
          gap: 40px;
          text-align: center;

          p {
            color: black;
            font-family: Pretendard;
            font-size: 19px;
            letter-spacing: -0.48px;
            font-weight: bold;
          }
        }
      }

      .LoginBox {
        display: flex;
        justify-content: flex-end;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-right: 25%;

          button {
            width: 36px;
            height: 36px;
            svg {
              width: 36px;
              height: 36px;
              color: black;
            }
          }

          p {
            font-family: Pretendard;
            font-size: 10px;
            letter-spacing: -0.25px;
            font-weight: 500;
            color: black;
          }
        }
      }
    }

    .MobileBox {
      display: none;
    }
  }
  // 모바일
  @media (max-width: 768px) {
    .MuiToolbar-root {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .GridContainer {
      display: none;
    }

    .MobileBox {
      width: 100%;
      padding: 0 5% 0 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 30%;
        padding-left: 10%;
      }

      svg {
        width: 20px;
        height: 20px;
        color: #000;
      }
    }
  }
}

// 팝업
.MuiModal-root {
  p,
  span,
  div {
    font-family: Pretendard;
  }

  .MainModal {
    width: 100%;
    height: 100%;
    text-align: center;

    .Display {
      padding: 3% 10% 10% 10%;
    }

    .TopBox {
      display: flex;
      justify-content: space-between;

      .MuiFormControl-root {
        width: 40%;

        .MuiInputBase-root {
          border-radius: 40px !important;
          background-color: white;
        }
      }

      .SearchButton {
        svg {
          width: 32px;
          height: 32px;
          color: #202020;
        }
      }

      .LoginBox {
        display: flex;

        svg {
          width: 36px;
          height: 36px;
          color: #000;
        }

        p {
          font-size: 10px;
          font-weight: 500;
        }
      }
    }

    .MiddleBox {
      margin: 20px 0 24px 0;
      padding: 32px 40px 32px 36px;
      border-radius: 16px;
      background-color: white;
      text-align: start;

      .TextBox {
        display: flex;
        gap: 8px;
        align-items: center;

        p {
          font-size: 26px;
          font-weight: 600;
        }

        svg {
          width: 26px;
          height: 26px;
        }
      }

      .SmallCategory {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: 32px 0 32px 0;

        .Item {
          width: calc(15% - 10px);
          height: 90px;
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          border-radius: 45px;
          background-color: #f4f4f4;

          img {
            width: 60px;
            height: 60px;
          }

          p {
            // font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .BottomBox {
      display: flex;
      align-items: center;

      .LeftBox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 480px;
        height: 80px;
        border-radius: 16px;
        background-color: #fff;

        .Item {
          display: flex;
          gap: 8px;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
          }

          p {
            font-size: 22px;
            font-weight: 600;
          }

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }

      .RightBox {
        display: flex;
        gap: 50px;
        align-items: center;
        margin-left: 64px;

        .Item {
          display: flex;
          gap: 8px;
          align-items: center;

          p {
            font-size: 22px;
            font-weight: 600;
          }

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
