@import 'common';

.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.MuiDataGrid-menuIcon {
  display: none !important;
}

.LastContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .MuiOutlinedInput-notchedOutline {
    border-color: #ededed !important;
  }

  @media (min-width: 600px) {
    .css-1qsxih2 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .css-1qsxih2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .css-13xy2my {
    box-shadow: none;
  }

  p,
  span,
  div,
  button {
    font-family: Pretendard;
  }

  // mobile styles
  @media only screen and (max-width: 768px) {
    .MyPageBox {
      width: 100%;
      margin: 15% 5% 0 5%;
      display: flex;
      flex-direction: column;

      .MuiTabs-indicator {
        background-color: #ffc043;
      }

      // 탭
      .TabBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .MuiTabs-root {
          width: 100% !important;
        }

        .MuiButtonBase-root {
          font-size: 18px;
          font-weight: bold;
          color: #202020;
        }

        .MuiTabs-flexContainer {
          width: 100% !important;
        }

        .Section {
          width: 100%;
          height: 2px;
          margin: 0 0 0 0;
          border-radius: 1px;
          background-color: #e4e4e4;
        }

        .NewButton,
        .PCTextBox,
        .TellBox {
          display: none;
        }
      }

      .ContentsBox {
        width: 100%;

        .TabPanel {
          width: 100%;

          .WebBox {
            display: none;
          }
          // 마이
          .MobileBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .MyTopContent {
              width: 80%;
              height: 100px;
              display: flex;
              gap: 13px;
              flex-direction: column;
              justify-content: center;
              padding: 0 15px 0 21px;

              .TopFirst {
                width: 100%;
                display: flex;
                align-items: center;

                .TopText {
                  width: 100%;
                  font-size: 16px;
                  font-weight: 600;
                }
              }

              .BotText {
                font-size: 13px;
                font-weight: 300;
              }
            }

            .MiddleBox {
              width: 90%;
              display: flex;
              flex-direction: column;

              .MiddleTop {
                display: flex;
                gap: 20px;

                .userPictuer {
                  width: 86px;
                  height: 86px;
                }

                .UserNameBox {
                  .UserName {
                    font-size: 24px;
                    font-weight: bold;
                  }

                  .Name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #a4a4a4;
                  }

                  .ChangeBox {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    p {
                      font-size: 14px;
                      font-weight: 500;
                    }

                    div {
                      width: 4px;
                      height: 14px;
                      background-color: #000;
                    }
                  }
                }
              }

              .MiddleBottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .SnsBox {
                  display: flex;
                  gap: 4px;
                  img {
                    width: 30px;
                    height: 30px;
                  }
                }

                .SnsBoxText {
                  display: flex;
                  gap: 5px;
                  align-items: center;
                  justify-content: center;
                  width: 113px;
                  height: 30px;
                  border-radius: 15px;
                  background-color: #f5f5f5;

                  p {
                    font-size: 14px;
                    font-weight: 500;
                  }

                  svg {
                    width: 13px;
                    height: 13px;
                  }
                }
              }

              .CampaignBox {
                display: flex;
                gap: 2px;

                .Campaign {
                  width: 100%;
                  border-radius: 10px;
                  background-color: #f5f5f5;
                  height: 72px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  img {
                    display: none;
                  }

                  div {
                    text-align: center;

                    :nth-child(1) {
                      font-size: 20px;
                      font-weight: bold;
                      color: #303030;
                    }

                    :nth-child(2) {
                      font-size: 12px;
                      color: #a4a4a4;
                    }
                  }
                }
              }
            }

            .BottomBox {
              width: 90%;

              .MyCampaign {
                display: flex;

                p {
                  font-size: 18px;
                  font-weight: 500;
                  padding: 0 5px 0 5px;
                }

                :nth-child(3) {
                  width: 18px;
                  height: 18px;
                  color: #000;
                }
              }

              .CardBox {
                width: 100%;
                display: flex;
                overflow-x: auto;
                flex-wrap: nowrap;
                white-space: nowrap;
                gap: 30px;

                .Card {
                  width: calc(30% - 10px);
                  img {
                    width: 130px;
                    height: 130px;
                  }

                  :nth-child(2) {
                    font-size: 14px;
                    font-weight: 500;
                  }

                  :nth-child(3) {
                    font-size: 12px;
                    color: #9999a6;
                  }
                }
              }
            }
          }
          // 캠페인
          // 탭
          .CampaignList {
            width: 100%;
            justify-content: center;
            align-items: center;

            div {
              height: 30px;
              font-size: 10px;
            }
          }

          .AppliedContainer {
            width: 100%;

            .MobileBox {
              margin-bottom: 80px;

              // 선정한 캠페인
              .CampCard {
                width: 90%;
                border-bottom: solid 1px #000;
                padding: 15px 0 15px 0;

                .CardTop {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 17px;

                  .DetailTop {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    width: 134px;
                    height: 26px;
                    background-color: #ebf1ff;

                    :nth-child(1) {
                      font-size: 12px;
                      color: #202020;
                    }

                    :nth-child(2) {
                      font-size: 12px;
                      font-weight: bold;
                      color: #202020;
                    }
                  }

                  svg {
                    width: 16px;
                    height: 16px;
                  }
                }

                .CardBottom {
                  display: flex;
                  justify-content: space-between;

                  .MainImg {
                    width: 80px;
                    height: 80px;
                  }

                  .TextBox {
                    .MainText {
                      font-size: 14px;
                      font-weight: bold;
                    }

                    .SubText {
                      font-size: 12px;
                      color: #9999a6;
                    }

                    .SnsBox {
                      display: flex;
                      align-items: center;
                      margin: 8px 0 17px 0;

                      img {
                        width: 14px;
                        height: 14px;
                      }

                      :nth-child(2) {
                        font-size: 12px;
                        color: #222;
                      }

                      :nth-child(3) {
                        font-size: 12px;
                        color: #949494;
                      }
                    }

                    .AnnounceBox {
                      display: flex;
                      align-items: center;
                      gap: 8px;

                      :nth-child(1) {
                        font-size: 12px;
                        font-weight: 500;
                        color: #9999a6;
                      }

                      :nth-child(2) {
                        font-size: 12px;
                        font-weight: 600;
                        color: #202020;
                      }
                    }
                  }
                }
              }
              // 선정된 캠페인
              .SecondBox {
                width: 90%;
                border-bottom: solid 2px #000;

                :nth-child(1) {
                  font-size: 16px;
                  font-weight: 500;
                }

                :nth-child(2) {
                  font-size: 15px;
                  font-weight: bold;
                }

                :nth-child(3) {
                  width: 156px;
                  height: 35px;
                  border-radius: 17.5px;
                  border: solid 1.5px #e4e4e4;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 13px;
                  margin: 21px 0 24px 0;
                }
              }
            }
          }
          // 등록 컨텐츠
          .ContentContainer {
            width: 100%;

            .ContentText {
              font-size: 22px;
              font-weight: 600;
            }

            .ContentCardBox {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 15px;

              .ContentCard {
                img {
                  width: 130px;
                  height: 130px;
                }
              }
            }
          }
        }
      }
    }
  }

  // Tablet styles
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .MyPageBox {
      margin: 10% 0 0 0;
      display: flex;
      flex-direction: column;

      .MuiTabs-indicator {
        background-color: #ffc043;
      }

      // 탭
      .TabBox {
        width: 100%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .MuiButtonBase-root {
          font-family: Pretendard;
          font-size: 24px;
          font-weight: bold;
          color: #202020;
        }

        .Section {
          width: 100%;
          height: 2px;
          margin: 0 0 0 0;
          border-radius: 1px;
          background-color: #e4e4e4;
        }

        .NewButton,
        .PCTextBox,
        .TellBox {
          display: none;
        }

        .MobileBox {
          display: none;
        }
      }
    }
  }

  // PC styles
  @media only screen and (min-width: 1024px) {
    .MyPageBox {
      margin: 7% 0 0 0 !important;
      display: flex;
      gap: 80px;

      .MuiTabs-indicator {
        display: none;
      }

      // 탭
      .TabBox {
        width: 100%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .MuiTabs-flexContainer {
          display: flex;
          flex-direction: column;
        }

        .MuiButtonBase-root {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-family: Pretendard;
          font-size: 24px;
          font-weight: bold;
          color: #202020;
        }

        .NewButton {
          width: 240px;
          height: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 49px 0 36px 0;
          border-radius: 8px;
          background-color: #ffc043;
          font-size: 18px;
          font-weight: bold;
          color: #000;
        }

        .PCTextBox {
          border-left: solid 2px #000;
          padding-left: 16px;
          margin-bottom: 24px;

          :nth-child(1) {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 16px;
          }

          :nth-child(2) {
            font-size: 14px;
            line-height: 1.43;
            color: #9999a6;
          }
        }

        .TellBox {
          display: flex;
          gap: 8px;
          align-items: center;

          :nth-child(1) {
            font-size: 32px;
            font-weight: bold;
            color: #303030;
          }

          svg {
            width: 26px;
            height: 26px;
            color: #303030;
          }
        }

        .Section {
          display: none;
        }
      }
    }

    .MobileBox {
      display: none;
    }
  }

  .ProfileText {
    width: 20%;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.82;
    color: #303030;
  }

  // 컨텐츠
  .ContentsBox {
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
  }

  // 마이
  .MyTopContent {
    height: 60px;
    padding: 0 0 0 37px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f5f5f5;

    .AlarmIco {
      width: 26px;
      height: 26px;
      color: #ffc043;
    }

    .TopText {
      font-size: 20px;
      font-weight: 600;
      padding: 0 104px 0 15px;
      color: #000;
    }

    .BotText {
      font-size: 16px;
      font-weight: 300;
      padding-right: 133px;
      line-height: 1.25;
    }

    .ArrowIco {
      width: 18px;
      height: 18px;
    }
  }

  .MiddleBox {
    width: 100%;
    display: flex;
    gap: 42px;
    padding: 38px 0 24px 0;
    border-bottom: solid 2px #e4e4e4;

    .userPictuer {
      width: 116px;
      height: 116px;
    }

    .MiddleBoxContent {
      width: 100%;

      .UserNameBox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .UserName {
          font-size: 36px;
          font-weight: bold;
        }

        .SnsBox {
          display: flex;
          gap: 5px;

          img {
            width: 36px;
            height: 36px;
          }

          .SnsBoxText {
            width: 136px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            background-color: #f5f5f5;

            p {
              font-size: 16px;
              font-weight: 500;
            }

            svg {
              width: 15px;
              height: 15px;
            }
          }
        }
      }

      .Name {
        font-size: 20px;
        font-weight: 500;
        padding: 0 0 15px 0;
        color: #a4a4a4;
      }

      .ChangePremier {
        display: flex;
        align-items: center;

        p {
          font-size: 18px;
          font-weight: 500;
        }

        div {
          width: 0.5px;
          height: 15px;
          margin: 0 14px 0 14px;
          border: solid 1px #202020;
          background-color: #202020;
        }
      }

      .CampaignBox {
        margin-top: 17px;
        display: flex;
        gap: 10px;

        .Campaign {
          width: 100%;
          height: 96px;
          display: flex;
          padding: 0 0 0 27px;
          gap: 36px;
          // justify-content: center;
          align-items: center;
          border-radius: 12px;
          background-color: #f5f5f5;

          img {
            width: 33px;
            height: 39px;
          }

          div {
            :nth-child(1) {
              font-size: 14px;
              color: #a4a4a4;
            }
            :nth-child(2) {
              font-size: 26px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .BottomBox {
    width: 960px;
    padding: 40px 0 140px 0;
    .MyCampaign {
      display: flex;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        color: #ffc043;
      }

      :nth-child(2) {
        font-size: 20px;
        font-weight: 500;
        padding: 0 74% 0 12px;
      }

      :nth-child(3) {
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
      }
    }

    .CardBox {
      width: 100%;
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .Card {
        width: 19%;
      }
    }
  }

  //캠페인 탭
  .CampaignList {
    display: flex;
    gap: 5px;
    padding: 20px 0 20px 0;

    .SelectedTab {
      width: 142px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #202020;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
    .NoSelect {
      width: 142px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white !important;
      font-size: 16px;
      font-weight: 500;
      color: #000;
    }
  }

  // 내정보 탭
  // 기본 정보
  .MyInfoContainer {
    width: 100%;

    .MyInfoSection {
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #000;
    }
    .Profile {
      width: 100%;
      padding: 16px 0 16px 0;
      display: flex;

      .ProfileBox {
        display: flex;
        gap: 32px;
        align-items: center;

        :nth-child(1) {
          width: 184px;
          height: 184px;
          background-color: #f5f5f5;
        }
        :nth-child(2) {
          width: 136px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          background-color: #202020;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
        }
      }
    }

    .BasicInfo {
      width: 100%;
      padding: 16px 0 16px 0;
      display: flex;

      .InputBox {
        width: 100%;
        padding: 0 15% 0 0;

        .BasicBox {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;
          padding: 12px 0 12px 0;

          .BasicText {
            width: 30%;
            font-size: 18px;
            font-weight: bold;
            line-height: 3.56;
            color: #303030;
          }

          .MuiFormControl-root {
            width: 70%;
          }

          .Gender {
            width: 70%;
            display: flex;
            gap: 15px;

            div {
              width: 50%;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 17px;
              font-weight: bold;
              border: solid 1.5px #ededed;
              line-height: 1.88;
            }
          }
        }
      }
    }

    .DeliveryBox {
      width: 100%;
      padding: 16px 0 0 0;
      display: flex;

      .RightBox {
        width: 100%;

        .Scroll {
          max-width: 700px;
          max-height: 100%;
          overflow-x: auto;
          display: flex;
        }

        .DeliveryInfoBox {
          padding: 16px 20px 16px 20px;
          background-color: #f5f5f5;

          .InfoBox {
            width: 180px;
            padding: 15px 20px 15px 20px;
            border-radius: 8px;
            border: solid 1.5px #ededed;
            background-color: #fff;

            .InfoTitle {
              display: flex;
              align-items: center;
              justify-content: space-between;

              p {
                font-size: 18px;
                font-weight: bold;
                color: #303030;
              }

              .IcoBox {
                display: flex;
                gap: 2px;

                svg {
                  width: 24px;
                  height: 24px;
                  border-radius: 5px;
                  border: solid 1px #e4e4e4;
                  color: #9999a6;
                }
              }
            }

            .Name {
              font-size: 14px;
              line-height: 2.29;
              color: #9999a6;
            }

            .OptionBox {
              display: flex;
              gap: 5px;
              :nth-child(1) {
                font-size: 14px;
                color: #9999a6;
              }

              :nth-child(2) {
                font-size: 14px;
                font-weight: 500;
                color: #ffc043;
              }
            }

            .Address {
              font-size: 14px;
              color: #303030;
            }
          }
        }

        .BasicBox {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;
          padding: 12px 0 12px 0;

          .BasicText {
            width: 24%;
            font-size: 18px;
            font-weight: bold;
            line-height: 3.56;
            color: #303030;
          }

          .MuiFormControl-root {
            width: 60%;
          }
        }

        .AddressBox {
          display: flex;
          padding: 12px 0 32px 0;

          .BasicText {
            width: 24%;
            font-size: 18px;
            font-weight: bold;
            line-height: 3.56;
            color: #303030;
          }

          .AnotherBox {
            width: 75%;
            display: flex;
            gap: 12px;
            flex-direction: column;

            .AddressOne {
              display: flex;
              gap: 12px;

              :nth-child(1) {
                width: 60%;
                height: 48px;
                border-radius: 8px;
                background-color: #ebebeb;
              }
              :nth-child(2) {
                width: 96px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                border: solid 1.5px #303030;
                font-size: 16px;
                font-weight: bold;
                line-height: 4;
                color: #303030;
              }
            }

            .AddressTwo {
              width: 80%;
              height: 48px;
              border-radius: 8px;
              background-color: #ebebeb;
            }

            .MuiFormControl-root {
              width: 80%;
            }

            .Mui-checked {
              color: #ffc032;
            }

            .MuiTypography-root {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.63;
              color: #202020;
            }

            .SaveButton {
              width: 80%;
              height: 56px;
              border-radius: 8px;
              background-color: #202020;
              font-size: 16px;
              font-weight: bold;
              color: #fff;
            }
          }
        }
      }
    }
  }
  // 추가 정보
  .AdditionalSection {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
  }
  .AdditionalBox {
    display: flex;
    padding: 16px 0 16px 0;

    .RightContent {
      width: 80%;
      display: flex;
      flex-direction: column;
    }

    .OneContent {
      display: flex;
      padding: 12px 15% 12px 0;
      align-items: center;
      border-bottom: solid 1px #e4e4e4;

      p {
        width: 40%;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: bold;
      }

      .MuiInputBase-root {
        width: 100%;
      }
      .TwoContent {
        display: flex;
        gap: 15px;
        width: 100%;

        div {
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: solid 1.5px #ededed;
          font-size: 17px;
          font-weight: bold;
        }
      }
      .ThreeContent {
        display: flex;
        width: 100%;
        gap: 15px;
        text-align: center;

        div {
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          background-color: #ffc032;
          border: solid 1.5px #ededed;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }

  .AgainContainer {
    display: flex;
    align-items: center;
    padding: 24px 0 24px 0;

    .AgainBox {
      display: flex;
      gap: 8px;
      align-items: center;

      :nth-child(1) {
        font-size: 18px;
        font-weight: bold;
        color: #303030;
      }

      :nth-child(2) {
        width: 16px;
        height: 16px;
      }
    }
  }

  .ButtonBox {
    padding: 40px 0 120px 0;
    display: flex;
    justify-content: center;

    button {
      width: 60%;
      height: 64px;
      border-radius: 8px;
      background-color: #ffc032;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: bold;
      color: #202020;
    }
  }
  // 비밀번호 변경
  .PasswordContainer {
    display: flex;
    padding: 16px 0 16px 0;

    .PasswordText {
      width: 30%;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.82;
      color: #303030;
    }

    .PasswordBox {
      width: 100%;
      padding-right: 15%;
      .DetailBox {
        width: 100%;
        padding: 16px 0 16px 0;
        display: flex;
        align-items: center;
        border-bottom: solid 1px #e4e4e4;

        p {
          width: 30%;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }

        .MuiFormControl-root {
          width: 70%;
        }
      }
    }
  }
  // 간편 로그인
  .MaxBox {
    margin-bottom: 140px;
  }

  .LoginContainer {
    width: 100%;
    display: flex;
    padding: 16px 0 16px 0;

    .LoginText {
      width: 40%;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.82;
      color: #303030;
    }

    .LogindBox {
      width: 100%;
      padding-right: 15%;
      .DetailBox {
        width: 100%;
        padding: 16px 0 16px 0;
        display: flex;
        align-items: center;
        border-bottom: solid 1px #e4e4e4;

        p {
          width: 30%;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }
      }
    }
  }

  // 미디어 연결
  .MediaContainer {
    width: 100%;
    display: flex;
    padding: 16px 0 16px 0;

    .MediaText {
      width: 30%;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.82;
      color: #303030;
    }

    .ContentsBoxes {
      width: 70%;
      display: flex;
      padding-right: 15%;
      flex-direction: column;
    }

    .MediaBox {
      width: 100%;
      padding: 12px 0 12px 0;
      display: flex;

      div {
        display: flex;
      }

      .BigText {
        width: 30%;
        display: flex;
        align-items: center;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: bold;
      }

      .DetailBox {
        width: 70%;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 5% 0 5%;
        border: solid 1.5px #ededed;

        :nth-child(1) {
          width: 24px;
          height: 24px;
        }
        :nth-child(2) {
          width: 100%;
          padding: 0 30% 0 5%;
          font-family: Pretendard;
          font-size: 15px;
          font-weight: 600;
          line-height: 1.88;
          color: #202020;
        }
        :nth-child(3) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  // 패널티 탭
  .PanultyBox {
    width: 100%;

    .BarContainer {
      display: flex;

      .BarBox {
        width: 20%;
        padding: 20px 0 0 0;
        border-right: solid 1px #e4e4e4;
        .BarSection1 {
          width: 100%;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          background-color: #ffc043;

          .Circle {
            width: 26px;
            height: 26px;
            border-radius: 13px;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
          }
        }

        .BarSection2 {
          width: 100%;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffc043;
        }

        .BarSection3 {
          width: 100%;
          height: 36px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffc043;
        }

        .TextBox {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 0 19px 12px;

          :nth-child(1) {
            font-size: 16px;
            font-weight: 500;
            color: #000;
          }
          :nth-child(2) {
            font-size: 14px;
            color: #9999a6;
          }
        }
      }
    }

    .PanultyTextBox {
      height: 70px;
      padding: 24px 0 24px 24px;
      background-color: #f5f5f5;
      border-top: solid 1px #e4e4e4;

      .TextBox {
        display: flex;
        align-items: center;

        :nth-child(1) {
          font-size: 22px;
          font-weight: 500;
          color: #000;
        }
        :nth-child(2) {
          font-size: 22px;
          font-weight: bold;
          padding: 0 19px 0 12px;
        }
        :nth-child(3) {
          font-size: 14px;
          color: #9999a6;
        }
      }

      .Text {
        font-size: 14px;
        line-height: 2.29;
        color: #9999a6;
      }
    }

    .TextContainer {
      padding: 24px 0 26px 0;

      .InfoText1 {
        display: flex;
        justify-content: space-between;
        padding: 0 10% 20px 10%;
        border-bottom: solid 1px #e4e4e4;

        :nth-child(1),
        :nth-child(3) {
          font-size: 16px;
          font-weight: bold;
          color: #202020;
        }

        :nth-child(2) {
          font-size: 16px;
          font-weight: bold;
          color: #202020;
        }
      }
      .InfoText2 {
        display: flex;
        justify-content: space-between;
        padding: 20px 8% 0 8%;

        :nth-child(1),
        :nth-child(3) {
          font-size: 16px;
          font-weight: bold;
          color: #202020;
        }

        :nth-child(2) {
          font-size: 18px;
          font-weight: bold;
          color: #202020;
        }
      }
    }
  }
  // 포인트 탭
  .PointContainer {
    width: 100%;
    padding: 32px 0 0 0;
    display: flex;
    gap: 20px;

    div {
      width: 470px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background-color: #f5f5f5;

      :nth-child(1) {
        font-size: 16px;
        color: #a4a4a4;
      }

      .YellowPoint {
        font-size: 28px;
        font-weight: 600;
        color: #ffc043;
      }
      .BlackPoint {
        font-size: 28px;
        font-weight: 600;
        color: #303030;
      }
    }
  }
  // 적립내역
  .SearchBox {
    padding: 20px 0 20px 0;
    border-bottom: solid 1px #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .Year {
      width: 87px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #ebebeb;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.78;
      color: #404040;
    }

    .CalendarBox {
      width: 175px;
      height: 40px;
      display: flex;
      gap: 12px;
      align-items: center;
      border-radius: 20px;
      border: solid 2px #e4e4e4;

      :nth-child(1) {
        width: 18px;
        height: 18px;
        margin-left: 24px;
        color: #aaa;
      }

      :nth-child(2) {
        font-size: 16px;
        color: #aaa;
      }
    }

    .CalendarSection {
      width: 8px;
      height: 2px;
      border: solid 1px #e4e4e4;
      background-color: #e4e4e4;
    }

    .Search {
      width: 126px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #202020;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.78;
      color: #fff;
    }

    .SearchButton {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #ffc043;

      svg {
        width: 22px;
        height: 22px;
        color: #fff;
      }
    }
  }

  .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none;
  }

  .MuiTableCell-root {
    height: 100%;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: bold;
    color: #202020;
  }

  .MuiTableBody-root {
    .MuiTableRow-root {
      th {
        display: flex;
        align-items: center;
        // height: 150px;
      }

      td {
        // height: 10px;
      }
    }
  }

  .MuiStack-root {
    padding: 40px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
      background-color: #333;
      color: white;
    }
  }

  .BottomText {
    padding-bottom: 120px;
    font-size: 14px;
    line-height: 1.43;
    color: #404040;
  }

  .TableData {
    text-align: start;
    :nth-child(1) {
      font-size: 18px;
      font-weight: bold;
      color: #202020;
    }
    :nth-child(2) {
      font-size: 14px;
      color: #9999a6;
    }
  }

  .TableData3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .DataBox {
      display: flex;
      gap: 5px;

      :nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        color: #202020;
      }

      :nth-child(2) {
        font-size: 16px;
        color: #202020;
      }
    }
  }
  .MuiDataGrid-footerContainer {
    display: none;
  }
  // 출금신청 그리드
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #ffc032;
  }

  .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
    background-color: #fffaef;
  }

  .MuiDataGrid-iconButtonContainer {
    display: none;
  }

  .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .MuiDataGrid-columnHeaderTitle {
      font-size: 16px;
      font-weight: bold;
      color: #202020;
    }
  }

  .MuiDataGrid-cellContent {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: bold;
    color: #202020;
  }

  .css-i4bv87-MuiSvgIcon-root {
    width: 16px;
    height: 16px;
  }

  .withdrawBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0 49px 0;

    .TextBox {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;
      :nth-child(1) {
        font-size: 16px;
        color: #a4a4a4;
      }

      :nth-child(2) {
        font-size: 24px;
        font-weight: bold;
        color: #202020;
      }
    }
  }

  .WithdrawButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;

    button {
      width: 200px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      background-color: #ffc032;
      font-family: Pretendard;
      font-size: 18px;
      font-weight: bold;
      color: #202020;
    }
  }
  // 고객센터 탭
  .MuiCollapse-root {
    padding: 34px 11% 40px 40px;
    background-color: #f5f5f5;

    .MuiCollapse-wrapperInner {
      display: flex;
      justify-content: space-between;

      :nth-child(1) {
        padding-right: 28px;
        font-size: 16px;
        font-weight: 600;
        line-height: 2;
        color: #202020;
      }
    }
  }
  .CenterContainer {
    width: 960px;

    .QuestionBox {
      display: flex;
      align-items: center;
      padding: 35px 24px 35px 24px;
      border-bottom: solid 1px #e4e4e4;

      .Question {
        font-size: 16px;
        font-weight: 600;
        color: #202020;
        padding-right: 12px;
      }

      .Status {
        width: 62px;
        height: 24px;
        display: flex;
        margin-right: 55%;
        justify-content: center;
        align-items: center;
        background-color: #e4e4e4;
        font-size: 12px;
        font-weight: 500;
        color: #303030;
        border-radius: 12px;
      }

      .Date {
        font-size: 16px;
        color: #202020;
        padding-right: 32px;
      }

      svg {
        width: 32px;
        height: 32px;
        color: #333;
      }
    }
  }

  .FaqButton {
    padding: 40px 0 140px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .Paginations {
      padding: 0 25% 0 0;
    }

    .Faq {
      width: 126px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #202020;
      font-family: Pretendard;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
    }
  }
  // 캠페인 탭
  // 신청한 캠페인
  .CampaignSection {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
  }

  .AppliedContainer {
    width: 960px;

    .CellBox {
      height: 100%;
      display: flex;
      gap: 24px;

      .CellBoxImg {
        width: 78px;
        height: 78px;
        border-radius: 39px;
      }

      .RightBox {
        text-align: start;
        display: flex;
        flex-direction: column;

        .RowTitle {
          font-size: 18px;
          font-weight: bold;
          color: #202020;
        }

        .RowTag {
          font-size: 14px;
          color: #9999a6;
        }

        .BottomContent {
          margin-top: 12px;
          display: flex;
          gap: 6px;
          align-items: center;

          img {
            width: 24px;
            height: 24px;
          }

          :nth-child(2) {
            font-size: 14px;
            color: #222;
          }

          :nth-child(3) {
            font-size: 14px;
            color: #949494;
          }
        }
      }
    }

    .StatusCell {
      .CancleBox {
        width: 96px;
        height: 40px;
        border-radius: 20px;
        border: solid 1.5px #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: #202020;
      }

      .EndBox {
        width: 96px;
        height: 40px;
        border-radius: 20px;
        border: solid 1.5px #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: #9999a6;
        background-color: #e4e4e4;
      }
    }
  }
  // 선정된 캠페인
  .AppliedContainer {
    width: 960px;

    .BannerInfoBox {
      height: 102px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      padding: 24px 40px 24px 40px;

      .BannerRight {
        :nth-child(1) {
          font-size: 22px;
          font-weight: 500;
          line-height: 1.45;
        }

        :nth-child(2) {
          font-size: 22px;
          font-weight: bold;
          line-height: 1.45;
        }
      }

      .BannerLeft {
        width: 156px;
        height: 40px;
        border-radius: 20px;
        border: solid 1.5px #e4e4e4;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
    }

    .Registration,
    .DeliveryCell {
      p {
        font-size: 16px;
        font-weight: bold;
        color: #202020;
      }
    }
    .MuiTableBody-root {
      .MuiTableRow-root {
        th {
          height: 150px;
        }
      }
    }

    .StatusCell {
      .StatusCellBox {
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: center;
        :nth-child(1),
        :nth-child(2) {
          width: 96px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          border: solid 1.5px #e4e4e4;
          font-size: 14px;
          font-weight: bold;
          color: #202020;
        }

        :nth-child(3) {
          font-size: 12px;
          color: #202020;
        }
      }
    }
  }
  // 종료된 캠페인

  // 등록 콘텐츠
  .ContentContainer {
    width: 960px;

    .MainText {
      margin-top: 32px;
      font-size: 26px;
      font-weight: 600;
    }

    .CardBox {
      padding-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .Card {
        width: calc(20% - 10px);

        .MainImg {
          border-radius: 8px;
          width: 176px;
          height: 173px;
        }

        .MainImgText {
          margin-top: 12px;
          font-size: 14px;
          line-height: 1.43;
          color: #222;
        }

        .MainImgdate {
          padding: 8px 0 16px 0;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.43;
          color: #9999a6;
        }

        .SubImgBox {
          display: flex;
          align-items: center;
          gap: 10px;
          :nth-child(1) {
            width: 24px;
            height: 24px;
            border-radius: 12px;
          }

          :nth-child(2) {
            font-size: 14px;
            line-height: 1.43;
            color: #222;
          }
        }
      }
    }
  }
}
