@import 'common';

.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.NoticeContainer {
  width: 100%;
  p,
  span,
  div {
    font-family: Pretendard;
  }

  .Display {
    width: 100%;
    justify-content: center;
    align-items: center;
    // 웹
    @media (min-width: 769px) {
      .NoticeBox {
        width: 100%;
        padding: 10% 10% 0 10%;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;

        .MainText {
          font-family: Pretendard;
          font-size: 56px;
          font-weight: bold;
          line-height: 0.63;
          color: #202020;
        }

        .SearchBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 16px 0 40px 0;

          p {
            font-family: Pretendard;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.75;
            color: #7d7d7d;
          }

          .MuiInputBase-root {
            width: 440px;
            height: 56px;
            border-radius: 28px;
            border: solid 2px #e4e4e4;

            .SearchButton {
              width: 48px;
              height: 48px;
              background-color: #484848;

              svg {
                color: white;
              }
            }
          }
        }

        .InfoBox {
          border-top: solid 2px #000;

          .TopAlarmBox4 {
            height: 100px;
            padding: 0 24px 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fffaee;
            border-bottom: solid 2px #e4e4e4;

            .AlarmText {
              font-size: 20px;
              color: #202020;
              margin-right: 50%;
            }

            .AlarmButton {
              margin-left: 1%;
              width: 40px;
              height: 40px;
              background-color: #ffc032;

              svg {
                width: 20px;
                height: 20px;
                color: #202020;
              }
            }
            .AddIcon {
              width: 32px;
              height: 32px;
              color: #202020;
              padding-right: 10px;
            }
          }

          .InfoTextBox {
            padding: 0 32px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;
            border-bottom: solid 2px #e4e4e4;

            .AlarmText {
              font-size: 20px;
              color: #202020;
              margin-right: 50%;
            }

            .DateBox {
              margin-left: 1%;
              display: flex;
              flex-direction: column;
              text-align: center;
              background-color: white;

              :nth-child(1) {
                font-size: 32px;
                color: #a4a4a4;
                margin-bottom: -10px;
              }

              :nth-child(2) {
                font-size: 14px;
                font-weight: 300;
                color: #a4a4a4;
              }
            }
          }
        }

        .NoResultsMessage {
          padding: 5% 0 5% 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .MuiStack-root {
          padding: 40px 0 80px 0;
          display: flex;
          justify-content: center;
          align-items: center;

          .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
            background-color: #333;
            color: white;
          }
        }
      }
      .MobileBox {
        display: none;
      }
      @media (max-width: 768px) {
        .NoticeBox {
          display: none;
        }

        .MobileBox {
          width: 100%;
          padding: 10% 5% 0 5%;
          margin-bottom: 120px;
          display: flex;
          flex-direction: column;

          .MainText {
            font-size: 56px;
            font-weight: bold;
            line-height: 0.63;
            color: #202020;
          }

          .SearchBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 16px 0 40px 0;

            p {
              font-family: Pretendard;
              font-size: 20px;
              font-weight: 300;
              line-height: 1.75;
              color: #7d7d7d;
            }

            .MuiInputBase-root {
              width: 440px;
              height: 56px;
              border-radius: 28px;
              border: solid 2px #e4e4e4;

              .SearchButton {
                width: 48px;
                height: 48px;
                background-color: #484848;

                svg {
                  color: white;
                }
              }
            }
          }

          .InfoBox {
            border-top: solid 2px #000;
          }

          .AlarmText {
            font-size: 20px;
            color: #202020;
            margin-right: 50%;
          }

          .AddIcon {
            width: 32px;
            height: 32px;
            color: #333;
          }

          .TopAlarmBox {
            padding: 0 32px 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;
            background-color: #fffaee;
            border-bottom: solid 2px #e4e4e4;

            .AlarmButton {
              width: 40px;
              height: 40px;
              background-color: #ffc032;

              svg {
                width: 20px;
                height: 20px;
                color: #202020;
              }
            }
          }

          .InfoTextBox {
            padding: 0 32px 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;
            border-bottom: solid 2px #e4e4e4;

            .DateBox {
              display: flex;
              flex-direction: column;
              text-align: center;

              :nth-child(1) {
                font-size: 32px;
                color: #a4a4a4;
                margin-bottom: -10px;
              }

              :nth-child(2) {
                font-size: 14px;
                font-weight: 300;
                color: #a4a4a4;
              }
            }
          }

          .NoResultsMessage {
            padding: 5% 0 5% 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .MuiStack-root {
            padding: 40px 0 80px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
              background-color: #333;
              color: white;
            }
          }
        }
      }
    }
  }
}
