@import 'common';

.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.NoticeDetailContainer {
  .Display {
    display: flex;
    justify-content: center;
    align-items: center;

    p,
    span,
    div {
      font-family: Pretendard;
    }
    // 웹
    @media (min-width: 769px) {
      .NoticeDetailBox {
        width: 100%;
        margin: 10% 13% 0 13%;
        border-top: solid 2px #202020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .TitleBox {
          width: 100%;
          height: 145px;
          padding: 32px 0 32px 0;
          display: flex;
          gap: 24px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: solid 1px #dedede;

          :nth-child(1) {
            font-size: 32px;
            font-weight: 600;
            color: #333;
          }

          :nth-child(2) {
            font-size: 17px;
            font-weight: 300;
            color: #333;
          }
        }

        .ContentBox {
          padding: 40px 0 80px 0;

          img {
            margin: 40px 0 80px 0;
          }

          p {
            font-size: 17px;
            font-weight: 300;
            color: #333;
          }

          .BoldText {
            font-size: 24px;
            font-weight: bold;
          }
        }

        .FileBox {
          width: 100%;
          height: 52px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px 0 20px;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
          background-color: #f5f5f5;

          svg {
            width: 20px;
            height: 20px;
            color: #a4a4a4;
          }

          .First {
            display: flex;
            gap: 8px;
            align-items: center;

            p {
              font-size: 17px;
              font-weight: 600;
              color: #202020;
            }
          }
        }

        .NextBox {
          width: 100%;
          margin: 40px 0 40px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-top: solid 1px #dedede;
          border-bottom: solid 1px #dedede;
          .NextTitle {
            height: 52px;
            display: flex;
            align-items: center;

            path {
              width: 20px;
              height: 20px;
              color: #a4a4a4;
            }

            .Next {
              padding: 0 16px 0 8px;
              font-size: 17px;
              font-weight: bold;
              color: #a4a4a4;
            }

            .Content {
              font-size: 17px;
              font-weight: 300;
              color: #a4a4a4;
            }
          }

          .NextSection {
            width: 100%;
            height: 1px;
            background-color: #dedede;
          }
        }

        .MenuButton {
          width: 56px;
          height: 56px;
          margin-bottom: 120px;
          border: solid 2px #e4e4e4;
        }

        .CommentBox {
          width: 100%;
          padding: 0 0 56px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: solid 1px #dedede;

          .MainText {
            display: flex;
            gap: 6px;
            align-items: center;
            margin-bottom: 20px;

            p {
              font-size: 17px;
              font-weight: 600;
              color: #202020;
            }

            path {
              width: 20px;
              height: 20px;
            }
          }

          .MuiFormControl-root {
            width: 100%;

            svg {
              margin-right: 15px;
            }

            path {
              width: 20px;
              height: 20px;
              color: #a4a4a4;
            }

            .CommentButton {
              display: flex;

              .Cancle {
                font-family: Pretendard;
                font-size: 17px;
                font-weight: bold;
                color: #a4a4a4;
              }
              .Submit {
                font-family: Pretendard;
                font-size: 17px;
                font-weight: bold;
                color: #000;
              }
            }
          }

          .CommentInfo {
            width: 100%;
            padding: 8px 0 16px 0;
            text-align: end;
            font-size: 14px;
            font-weight: 300;
            color: #a4a4a4;
          }
        }

        .CommentBox2 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: solid 1px #dedede;
          margin-bottom: 120px;

          .RealComment {
            display: flex;
            gap: 20px;
            padding: 20px 0 20px 0;

            img {
              width: 64px;
              height: 64px;
              border-radius: 32px;
            }

            .RealComment2 {
              display: flex;
              flex-direction: column;
              gap: 12px;

              .InfoBox {
                display: flex;
                align-items: center;
                gap: 12px;

                :nth-child(1) {
                  font-size: 18px;
                  color: #303030;
                }

                :nth-child(2) {
                  font-size: 14px;
                  color: #9999a6;
                }
              }

              .RealComment3 {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.43;
              }
            }
          }
        }
      }
    }
    // 모바일
    @media (max-width: 768px) {
      .NoticeDetailBox {
        width: 100%;
        margin: 40% 5% 10% 5%;
        border-top: solid 2px #202020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .TitleBox {
          width: 100%;
          height: 145px;
          display: flex;
          gap: 24px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: solid 1px #dedede;

          :nth-child(1) {
            font-size: 20px;
            font-weight: 600;
            color: #333;
          }

          :nth-child(2) {
            font-size: 14px;
            font-weight: 300;
            color: #333;
          }
        }

        .ContentBox {
          padding: 40px 0 80px 0;

          img {
            width: 306px;
            height: 183px;
            margin: 40px 0 80px 0;
          }

          p {
            font-size: 16px;
            font-weight: 300;
            color: #333;
          }

          .BoldText {
            font-size: 16px;
            font-weight: bold;
          }
        }

        .FileBox {
          width: 90%;
          height: 52px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px 0 20px;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
          background-color: #f5f5f5;

          svg {
            width: 17px;
            height: 17px;
            color: #a4a4a4;
          }

          .First {
            display: flex;
            gap: 8px;
            align-items: center;

            p {
              font-size: 14px;
              font-weight: 600;
              color: #202020;
            }
          }
        }

        .NextBox {
          width: 100%;
          margin: 40px 0 40px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-top: solid 1px #dedede;
          border-bottom: solid 1px #dedede;

          .NextTitle {
            height: 52px;
            display: flex;
            align-items: center;

            path {
              width: 20px;
              height: 20px;
              color: #a4a4a4;
            }

            .Next {
              padding: 0 16px 0 8px;
              font-size: 14px;
              font-weight: bold;
              color: #a4a4a4;
            }

            .Content {
              width: 70%;
              font-size: 14px;
              font-weight: 300;
              color: #a4a4a4;
            }
          }

          .NextSection {
            width: 100%;
            height: 1px;
            background-color: #dedede;
          }
        }

        .MenuButton {
          width: 56px;
          height: 56px;
          margin-bottom: 120px;
          border: solid 2px #e4e4e4;
        }

        .CommentBox {
          width: 100%;
          padding: 0 0 56px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: solid 1px #dedede;

          .MainText {
            display: flex;
            gap: 6px;
            align-items: center;
            margin-bottom: 20px;

            p {
              font-size: 14px;
              font-weight: 600;
              color: #202020;
            }

            path {
              width: 17px;
              height: 17px;
            }
          }

          .MuiFormControl-root {
            width: 100%;

            svg {
              margin-right: 15px;
            }

            path {
              width: 20px;
              height: 20px;
              color: #a4a4a4;
            }

            .CommentButton {
              display: flex;

              .Cancle {
                font-family: Pretendard;
                font-size: 14px;
                font-weight: bold;
                color: #a4a4a4;
              }
              .Submit {
                font-family: Pretendard;
                font-size: 14px;
                font-weight: bold;
                color: #000;
              }
            }
          }

          .CommentInfo {
            width: 100%;
            padding: 8px 0 16px 0;
            text-align: end;
            font-size: 12px;
            font-weight: 300;
            color: #a4a4a4;
          }
        }

        .CommentBox2 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: solid 1px #dedede;
          margin-bottom: 120px;

          .RealComment {
            display: flex;
            gap: 10px;
            padding: 15px 0 15px 0;

            img {
              width: 64px;
              height: 64px;
              border-radius: 32px;
            }

            .RealComment2 {
              display: flex;
              flex-direction: column;
              gap: 12px;

              .InfoBox {
                display: flex;
                align-items: center;
                gap: 10px;

                :nth-child(1) {
                  font-size: 14px;
                  color: #303030;
                }

                :nth-child(2) {
                  font-size: 13px;
                  color: #9999a6;
                }
              }

              .RealComment3 {
                font-size: 12px;
                font-weight: 300;
                line-height: 1.43;
              }
            }
          }
        }
      }
    }
  }
}
