@import 'common';

.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.MuiDataGrid-menuIcon {
  display: none !important;
}

.LastContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  p,
  span,
  div {
    font-family: Pretendard;
  }

  // Tablet styles
  @media only screen and (min-width: 600px) and (max-width: 1023px) {
    .MyPageBox {
      margin: 10% 0 0 0;
      display: flex;
      flex-direction: column;

      .MuiTabs-indicator {
        background-color: #ffc043;
      }

      // 탭
      .TabBox {
        width: 100%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .MuiButtonBase-root {
          font-family: Pretendard;
          font-size: 24px;
          font-weight: bold;
          color: #202020;
        }

        .Section {
          width: 100%;
          height: 2px;
          margin: 0 0 0 0;
          border-radius: 1px;
          background-color: #e4e4e4;
        }

        .NewButton,
        .PCTextBox,
        .TellBox {
          display: none;
        }
      }
    }
  }

  // PC styles
  @media only screen and (min-width: 1024px) {
    .MyPageBox {
      margin: 10% 0 0 0;
      display: flex;
      gap: 80px;

      .MuiTabs-indicator {
        display: none;
      }

      // 탭
      .TabBox {
        width: 100%;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .MuiTabs-flexContainer {
          display: flex;
          flex-direction: column;
        }

        .MuiButtonBase-root {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-family: Pretendard;
          font-size: 24px;
          font-weight: bold;
          color: #202020;
        }

        .NewButton {
          width: 240px;
          height: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 49px 0 36px 0;
          border-radius: 8px;
          background-color: #ffc043;
          font-size: 18px;
          font-weight: bold;
          color: #000;
        }

        .PCTextBox {
          border-left: solid 2px #000;
          padding-left: 16px;
          margin-bottom: 24px;

          :nth-child(1) {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 16px;
          }

          :nth-child(2) {
            font-size: 14px;
            line-height: 1.43;
            color: #9999a6;
          }
        }

        .TellBox {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-bottom: 140px;

          :nth-child(1) {
            font-size: 32px;
            font-weight: bold;
            color: #303030;
          }

          svg {
            width: 26px;
            height: 26px;
            color: #303030;
          }
        }

        .Section {
          display: none;
        }
      }
    }
  }

  .ProfileText {
    width: 20%;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.82;
    color: #303030;
  }

  // 컨텐츠
  .ContentsBox {
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
  }
  // 대시보드
  .DashboardContainer {
    width: 100%;

    .MainText {
      font-size: 20px;
      font-weight: 500;
    }

    .SubText {
      font-size: 32px;
      font-weight: bold;
    }

    .TopContents {
      display: flex;
      gap: 15px;

      .TopBox {
        width: 310px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f5f5f5;
        border-bottom: solid 4px #ffc043;

        :nth-child(1) {
          font-size: 36px;
          font-weight: bold;
          color: #303030;
        }

        :nth-child(2) {
          font-size: 16px;
          color: #a4a4a4;
        }
      }
    }

    .GraphList {
      display: flex;
      gap: 5px;
      padding: 20px 0 20px 0;

      .SelectedTab {
        width: 80px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
      .NoSelect {
        width: 80px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;
        font-size: 16px;
        font-weight: 500;
        color: #000;
      }

      .SearchButton {
        width: 126px;
        height: 40px;
        border-radius: 20px;
        background-color: #202020;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px 0 16px;
      }

      .ReButton {
        width: 40px;
        height: 40px;
        background-color: #ffc043;
        svg {
          width: 22px;
          height: 22px;
          color: #fff;
        }
      }
    }
    .GraphBox {
      padding: 61px 0 68px 0;
      .GraphTilte {
        font-size: 26px;
        font-weight: 600;
      }

      .Graph {
        width: 100%;
        height: 336px;
        margin-top: -50px;
      }
    }

    .MiddleText {
      padding: 60px 0 57px 0;
      display: flex;
      gap: 64px;

      :nth-child(1) {
        font-size: 26px;
        font-weight: 600;
      }

      :nth-child(2) {
        font-size: 16px;
        color: #9999a6;
      }
    }
  }

  //캠페인 탭
  .CampaignList {
    display: flex;
    gap: 5px;
    padding: 20px 0 20px 0;

    .SelectedTab {
      width: 142px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #202020;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
    .NoSelect {
      width: 142px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      font-size: 16px;
      font-weight: 500;
      color: #000;
    }
  }
  // 캠페인 리스트
  .CampaignContaier {
    width: 980px;

    .TopContents {
      width: 100%;
      height: 73px;
      padding: 0 0 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 2px #000;
      border-top: solid 2px #000;

      .OneText {
        font-size: 18px;
        font-weight: bold;
      }

      .TwoText {
        font-size: 18px;
        font-weight: 600;
        color: #aaa;
        padding-right: 70%;
      }

      .OpenButton {
        width: 40px;
        height: 40px;
        background-color: #202020;

        svg {
          width: 18px;
          height: 18px;
          color: #fff;
        }
      }
    }

    .MuiCollapse-root {
      width: 102.5%;
      padding: 0 0 0 0;

      .MuiCollapse-wrapperInner {
        display: flex;
        flex-direction: column;
      }

      .BottomSection {
        width: 100%;
        height: 2px;
        background-color: #e4e4e4;
      }

      .OneSection {
        height: 68px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        gap: 56px;

        p {
          padding: 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .TwoSection {
        height: 68px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        gap: 56px;

        p {
          padding: 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .ThreeSection {
        padding-left: 24px;
        height: 68px;
        display: flex;
        align-items: center;
        gap: 56px;

        p {
          padding: 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .SearchBox2 {
      padding: 24px 0 80px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .SearchButton {
        width: 126px;
        height: 40px;
        border-radius: 20px;
        background-color: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
      }

      .ReButton {
        width: 40px;
        height: 40px;
        background-color: #ffc043;
        svg {
          width: 22px;
          height: 22px;
          color: #fff;
        }
      }
    }
    .OneCell {
      display: flex;
      gap: 24px;
      .MainImg {
        img {
          width: 78px;
          height: 78px;
          border-radius: 39px;
          box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.06);
        }
      }
      .TextBox {
        text-align: start;
        .TextOne {
          font-size: 18px;
          font-weight: bold;
          color: #202020;
        }
        .TextTwo {
          font-size: 14px;
          color: #9999a6;
        }
        .SnsBox {
          display: flex;
          gap: 6px;
          padding-top: 12px;
          img {
            width: 24px;
            height: 23px;
          }
          p {
            font-size: 14px;
            color: #222;
          }
        }
      }
    }

    .TwoCell {
      text-align: start;
      .TextBox {
        display: flex;
        gap: 12px;
        padding-bottom: 8px;
      }
      :nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        color: #202020;
      }
      :nth-child(2) {
        font-size: 16px;
        font-weight: 300;
        color: #202020;
      }
    }
    .Number {
      font-size: 16px;
      font-weight: bold;
      color: #202020;
    }

    .ReRegi {
      width: 72px;
      height: 32px;
      margin-left: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      border: solid 1px #e4e4e4;
      background-color: #202020;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
  }

  // 내정보 탭
  // 기업 정보
  .MyInfoContainer {
    width: 960px;

    .MyInfoSection {
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #000;
    }

    .BasicInfo {
      width: 100%;
      padding: 16px 0 16px 0;
      display: flex;

      .InputBox {
        width: 100%;
        padding: 0 15% 0 0;

        .BasicText {
          width: 30%;
          font-size: 18px;
          font-weight: bold;
          line-height: 3.56;
          color: #303030;
        }

        .BasicBox {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;
          padding: 12px 0 12px 0;

          .MuiFormControl-root {
            width: 70%;
            background-color: #f5f5f5;
          }
        }
        .BottomBox {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;
          padding: 12px 0 12px 0;

          .MuiFormControl-root {
            width: 70%;
          }
        }
      }
    }

    .SaveButton {
      width: 560px;
      height: 64px;
      border-radius: 8px;
      background-color: #ffc032;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: #202020;
    }
  }
  // 추가 정보
  .AdditionalSection {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
  }
  .AdditionalBox {
    display: flex;
    padding: 16px 0 16px 0;

    .RightContent {
      width: 80%;
      display: flex;
      flex-direction: column;
    }

    .OneContent {
      display: flex;
      padding: 12px 15% 12px 0;
      align-items: center;
      border-bottom: solid 1px #e4e4e4;

      p {
        width: 40%;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: bold;
      }

      .MuiInputBase-root {
        width: 100%;
      }
      .TwoContent {
        display: flex;
        gap: 15px;
        width: 100%;

        div {
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: solid 1.5px #ededed;
          font-size: 17px;
          font-weight: bold;
        }
      }
      .ThreeContent {
        display: flex;
        width: 100%;
        gap: 15px;
        text-align: center;

        div {
          width: 100%;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          background-color: #ffc032;
          border: solid 1.5px #ededed;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }

  .AgainContainer {
    display: flex;
    align-items: center;
    padding: 24px 0 24px 0;

    .AgainBox {
      display: flex;
      gap: 8px;
      align-items: center;

      :nth-child(1) {
        font-size: 18px;
        font-weight: bold;
        color: #303030;
      }

      :nth-child(2) {
        width: 16px;
        height: 16px;
      }
    }
  }

  .ButtonBox {
    padding: 40px 0 120px 0;
    display: flex;
    justify-content: center;

    button {
      width: 60%;
      height: 64px;
      border-radius: 8px;
      background-color: #ffc032;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: bold;
      color: #202020;
    }
  }
  // 비밀번호 변경
  .PasswordContainer {
    width: 960px;
    display: flex;
    padding: 16px 0 16px 0;

    .PasswordText {
      width: 30%;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.82;
      color: #303030;
    }

    .PasswordBox {
      width: 100%;
      padding-right: 15%;
      .DetailBox {
        width: 100%;
        padding: 16px 0 16px 0;
        display: flex;
        align-items: center;
        border-bottom: solid 1px #e4e4e4;

        p {
          width: 30%;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }

        .MuiFormControl-root {
          width: 70%;
        }
      }
    }
  }

  // 결제 탭
  .PointContainer {
    width: 960px;
    padding: 32px 0 0 0;
    display: flex;
    gap: 20px;

    .TopBox {
      width: 100%;
      display: flex;
      flex-direction: row;
      border-radius: 0;
      background-color: #fff;
      justify-content: space-between;
      align-items: center;
      border-top: solid 2px #000;
      border-bottom: solid 2px #e4e4e4;

      .TextBox {
        display: flex;
        gap: 5px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0;
        background-color: #fff;

        :nth-child(1) {
          font-size: 32px;
          font-weight: bold;
          color: #000;
        }

        :nth-child(2) {
          font-size: 32px;
          font-weight: bold;
          color: #ffc043;
        }
      }

      .PointButton {
        width: 161px;
        height: 56px;
        border-radius: 28px;
        background-color: #ffc043;
        display: flex;
        font-family: Pretendard;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
        color: #303030;
      }
    }
  }
  // 사용내역
  .PointSection {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 75px;
  }
  .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none;
  }

  .MuiTableCell-root {
    height: 100%;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: bold;
    color: #202020;
  }

  .MuiTableBody-root {
    .MuiTableRow-root {
      th {
        display: flex;
        align-items: center;
        height: 150px;
      }

      td {
        // height: 10px;
      }
    }
  }

  .MuiStack-root {
    padding: 40px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
      background-color: #333;
      color: white;
    }
  }

  .MuiDataGrid-footerContainer {
    display: none;
  }
  // 출금신청 그리드
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #ffc032;
  }

  .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
    background-color: #fffaef;
  }

  .MuiDataGrid-iconButtonContainer {
    display: none;
  }

  .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .MuiDataGrid-columnHeaderTitle {
      font-size: 16px;
      font-weight: bold;
      color: #202020;
    }
  }

  .MuiDataGrid-cellContent {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: bold;
    color: #202020;
  }

  .css-i4bv87-MuiSvgIcon-root {
    width: 16px;
    height: 16px;
  }
  //포인트 결제 화면
  .PaymentScreenContainer {
    width: 960px;

    .TopBox {
      width: 100%;
      height: 120px;
      display: flex;
      gap: 10px;
      align-items: center;
      border-top: solid 2px #000;
      border-bottom: solid 2px #e4e4e4;

      :nth-child(1) {
        font-size: 32px;
        font-weight: bold;
      }

      :nth-child(2) {
        font-size: 32px;
        font-weight: bold;
        color: #ffc043;
      }
    }

    .PointContainers {
      display: flex;
      flex-wrap: wrap;
      padding: 32px 0 32px 0;
      border-bottom: solid 2px #000;
      gap: 40px;

      .HotBox {
        width: calc(40% - 10px);
        height: 80px;
        padding: 0 40px 0 40px;
        display: flex;
        align-items: center;
        border-radius: 40px;
        background-color: #f4f4f4;

        .HotOne {
          font-size: 24px;
          font-weight: bold;
          color: #202020;
        }

        .HotTwo {
          width: 56px;
          height: 24px;
          border-radius: 12px;
          background-color: #ff4343;
          font-weight: 500;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 12% 0 3%;
        }

        .HotThree {
          font-size: 24px;
          font-weight: 500;
          color: #202020;
        }
      }

      .PointBox {
        width: calc(40% - 10px);
        height: 80px;
        padding: 0 40px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        background-color: #f4f4f4;

        :nth-child(1) {
          font-size: 24px;
          font-weight: bold;
          color: #202020;
        }

        :nth-child(2) {
          font-size: 24px;
          font-weight: 500;
          color: #202020;
        }
      }
    }

    .TopBox2 {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: solid 2px #000;
      border-bottom: solid 2px #e4e4e4;

      p {
        font-size: 32px;
        font-weight: bold;
      }
    }

    .TypeBox {
      display: flex;
      flex-wrap: wrap;
      border-bottom: solid 2px #000;
      padding: 32px 0 40px 0;
      gap: 40px;

      .Type {
        width: 20%;
        height: 80px;
        border-radius: 40px;
        background-color: #f4f4f4;
        font-size: 24px;
        font-weight: bold;
        color: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .PaymentBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 0 130px 0;

      button {
        width: 56%;
        height: 64px;
        margin-bottom: 40px;
        border-radius: 8px;
        background-color: #ffc032;
        font-family: Pretendard;
        font-size: 20px;
        font-weight: bold;
        color: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .TextBox {
        width: 100%;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;

        p {
          font-size: 14px;
          line-height: 1.71;
          color: #202020;
        }
      }
    }
  }
  // 패널티 탭
  .PanultyContainer {
    width: 960px;
    border-top: solid 2px #000;
    padding: 0 0 120px 0;

    .PanultyBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 2px #e4e4e4;

      .OneContent {
        height: 80px;
        display: flex;
        align-items: center;

        :nth-child(1) {
          font-size: 16px;
          font-weight: 600;
          color: #202020;
          padding-left: 24px;
        }

        :nth-child(2) {
          font-size: 16px;
          font-weight: 600;
          color: #202020;
          padding: 0 8px 0 25px;
        }

        :nth-child(3) {
          width: 62px;
          height: 24px;
          border-radius: 12px;
          background-color: #e4e4e4;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          color: #303030;
        }
      }

      .Date {
        font-size: 16px;
        color: #202020;
        padding-right: 24px;
      }
    }
    // 디테일 화면
    .TopBox {
      height: 67px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px #e4e4e4;

      .LeftContents {
        width: 50%;
        display: flex;
        gap: 32px;
        align-items: center;

        :nth-child(1) {
          font-size: 18px;
          font-weight: bold;
          color: #202020;
        }

        :nth-child(2) {
          font-size: 18px;
          font-weight: 500;
          color: #202020;
        }
      }

      .MiniSection {
        width: 2px;
        height: 16px;
        background-color: #e4e4e4;
      }

      .RightContents {
        width: 50%;
        display: flex;
        gap: 32px;
        padding-left: 40px;

        :nth-child(1) {
          font-size: 18px;
          font-weight: bold;
          color: #202020;
        }

        :nth-child(2) {
          font-size: 18px;
          font-weight: 500;
          color: #202020;
        }
      }
    }

    .UserBox {
      height: 67px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px #e4e4e4;

      .OneText {
        font-size: 18px;
        font-weight: bold;
        color: #303030;
      }

      .Users {
        display: flex;
        margin: 0 16px 0 60px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .UserInfo {
        font-size: 18px;
        color: #303030;
      }
    }

    .TitleBox {
      height: 70px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px #e4e4e4;
      gap: 70px;

      :nth-child(1) {
        font-size: 18px;
        font-weight: bold;
        color: #202020;
      }

      :nth-child(2) {
        font-size: 18px;
        font-weight: 500;
        color: #202020;
      }
    }

    .ContentBox {
      padding: 24px 0 56px 0;
      .Content {
        display: flex;
        justify-content: space-between;

        :nth-child(1) {
          font-size: 18px;
          font-weight: 500;
          color: #202020;
        }

        :nth-child(2) {
          font-size: 16px;
          color: #202020;
        }
      }

      img {
        width: 480px;
        height: 480px;
      }
    }

    .AnswerBox {
      padding: 32px 268px 32px 32px;
      background-color: #f5f5f5;

      :nth-child(1) {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.78;
        color: #202020;
      }

      :nth-child(2) {
        margin-top: 24px;
        font-size: 16px;
        color: #202020;
      }
    }
    // 패널티 등록
    .MainText {
      width: 20%;
      font-size: 22px;
      font-weight: bold;
      color: #303030;
    }
    .TopBox2 {
      height: 150px;
      display: flex;
      padding: 24px 0 16px 0;
      border-bottom: solid 1px #828282;

      .TypeBox {
        width: 80%;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        div {
          width: 184px;
          height: 48px;
          border-radius: 8px;
          border: solid 1.5px #ededed;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }
      }
    }
    .InfoBox {
      display: flex;
      height: 165px;
      padding: 16px 0 0 0;
      border-bottom: solid 1px #828282;

      .Info {
        width: 80%;

        .OneBox {
          padding: 0 0 12px 0;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;

          .OneText {
            width: 20%;
            font-size: 18px;
            font-weight: bold;
            color: #303030;
          }

          .MuiInputBase-root {
            width: 80%;
          }
        }

        .TwoBox {
          padding: 12px 0 12px 0;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;

          .OneText {
            width: 20%;
            font-size: 18px;
            font-weight: bold;
            color: #303030;
          }

          .FindReviewr {
            display: flex;
            gap: 8px;
            width: 177px;
            height: 48px;
            border-radius: 8px;
            border: solid 1.5px #9999a6;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              font-size: 17px;
              font-weight: bold;
            }

            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
    .ContentBox2 {
      padding: 16px 0 16px 0;
      display: flex;
      border-bottom: solid 2px #000;

      .Right {
        width: 80%;

        .OneText {
          width: 20%;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }

        .OneBox {
          padding: 12px 0 12px 0;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;
        }

        .TwoBox {
          padding: 12px 0 12px 0;
          display: flex;
          border-bottom: solid 1px #e4e4e4;

          .PictureAdd {
            width: 120px;
            height: 120px;
            border-radius: 8px;
            background-color: #ebebeb;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .ButtonBox2 {
      padding: 40px 0 0 0;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .Previous {
        width: 200px;
        height: 48px;
        border-radius: 24px;
        border: solid 1.5px #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #202020;
      }

      .Regist {
        width: 200px;
        height: 48px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffc032;
        font-size: 18px;
        font-weight: bold;
        color: #202020;
      }
    }
  }

  .InfoContainer {
    width: 960px;

    .InfoBox {
      border-top: solid 2px #000;
    }

    .AlarmText {
      font-size: 20px;
      color: #202020;
      margin-right: 18%;
    }

    .AddIcon {
      width: 20px;
      height: 20px;
      color: #333;
    }

    .TopAlarmBox {
      padding: 0 32px 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      background-color: #fffaee;
      border-bottom: solid 2px #e4e4e4;

      .AlarmButton {
        width: 40px;
        height: 40px;
        background-color: #ffc032;

        svg {
          width: 20px;
          height: 20px;
          color: #202020;
        }
      }
    }

    .InfoTextBox {
      padding: 0 32px 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      border-bottom: solid 2px #e4e4e4;

      .DateBox {
        text-align: center;

        :nth-child(1) {
          font-size: 32px;
          color: #a4a4a4;
          margin-bottom: -10px;
        }

        :nth-child(2) {
          font-size: 14px;
          font-weight: 300;
          color: #a4a4a4;
        }
      }
    }
  }

  .FaqButton {
    padding: 40px 0 140px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .Paginations {
      padding: 0 25% 0 0;
    }

    .Faq {
      width: 126px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #202020;
      font-family: Pretendard;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
    }
  }
  // 공지사항 상세
  .InfoDetailScreen {
    border-top: solid 2px #202020;
    padding: 0 0 140px 0;

    .TitleBox {
      height: 150px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 32px 0 32px 0;
      border-bottom: solid 2px #dedede;

      :nth-child(1) {
        font-size: 32px;
        font-weight: 600;
        color: #333;
      }

      :nth-child(2) {
        font-size: 17px;
        font-weight: 300;
        color: #333;
      }
    }

    .ContentBox {
      padding: 40px 0 80px 0;
      text-align: center;

      p {
        font-size: 17px;
        font-weight: 300;
        color: #333;
      }

      .MainText {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }

      img {
        padding: 40px 0 40px 0;
      }
    }

    .FileBox {
      padding: 0 24px 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 52px;
      border-radius: 4px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
      background-color: #f5f5f5;

      svg {
        width: 20px;
        height: 20px;
        color: #a4a4a4;
      }

      .First {
        display: flex;
        gap: 8px;

        p {
          font-size: 17px;
          font-weight: 600;
          color: #202020;
        }
      }
    }
  }
  // 1:1문의
  .CenterContainer {
    width: 960px;

    .QuestionBox {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 35px 24px 35px 24px;
      border-bottom: solid 1px #e4e4e4;

      .Question {
        font-size: 16px;
        font-weight: 600;
        color: #202020;
        padding-right: 12px;
      }

      .Status {
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e4e4e4;
        font-size: 12px;
        font-weight: 500;
        color: #303030;
        border-radius: 12px;
      }

      .Date {
        font-size: 16px;
        color: #202020;
      }

      svg {
        width: 32px;
        height: 32px;
        color: #333;
      }
    }
  }
  // 고객센터 탭
  .MuiCollapse-root {
    width: 90%;
    background-color: #f5f5f5;

    .MuiCollapse-wrapperInner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .CollapseTitle {
        border-bottom: solid 1px #303030;
        padding-bottom: 34px;
      }

      .CollapseInfo {
        display: flex;
        padding-top: 35px;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  // 문의하기
  .InquryContainer {
    border-top: solid 2px #000;

    .TopInfo {
      padding: 24px 0 24px 0;
      border-bottom: solid 2px #000;

      div {
        padding: 0 33px 0 33px;
        height: 104px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        color: #303030;
        border-radius: 8px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
      }
    }
    .MainText {
      width: 20%;
      font-size: 22px;
      font-weight: bold;
      color: #303030;
    }
    .TopBox2 {
      height: 150px;
      display: flex;
      padding: 24px 0 16px 0;
      border-bottom: solid 1px #828282;

      .TypeBox {
        width: 80%;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        div {
          width: 184px;
          height: 48px;
          border-radius: 8px;
          border: solid 1.5px #ededed;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }
      }
    }

    .ContentBox2 {
      padding: 16px 0 16px 0;
      display: flex;
      border-bottom: solid 2px #000;

      .Right {
        width: 80%;

        .OneText {
          width: 20%;
          font-size: 18px;
          font-weight: bold;
          color: #303030;
        }

        .OneBox {
          padding: 12px 0 12px 0;
          display: flex;
          align-items: center;
          border-bottom: solid 1px #e4e4e4;
        }

        .TwoBox {
          padding: 12px 0 12px 0;
          display: flex;
          border-bottom: solid 1px #e4e4e4;

          .PictureAdd {
            width: 120px;
            height: 120px;
            border-radius: 8px;
            background-color: #ebebeb;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .ButtonBox2 {
      padding: 40px 0 80px 0;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .Previous {
        width: 200px;
        height: 48px;
        border-radius: 24px;
        border: solid 1.5px #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #202020;
      }

      .Regist {
        width: 200px;
        height: 48px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffc032;
        font-size: 18px;
        font-weight: bold;
        color: #202020;
      }
    }
  }
}
